<script setup>
defineProps(['title'])
</script>

<template>
  <section class="timeline-item">
    <div class="timeline-header">
      <p>{{ title }}</p>
    </div>
    <div class="timeline-content">
      <slot/>
    </div>
  </section>
</template>

<style scoped>
.timeline-item {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 0.5rem;
}

.timeline-item:first-child {
  margin-top: 0;
}

.timeline-item .timeline-header {
  display: flex;
  align-items: center;
  position: relative;
}

.timeline-item .timeline-header p {
  margin: 0px;
  line-height: 1;
}

.timeline-item .timeline-header::before {
  position: absolute;
  content: "";
  background: #a1a1aa;
  width: 8px;
  height: 8px;
  left: -18px;
  right: 0;
  top: calc(50% - 0.5 * 8px);
  bottom: -2px;
  z-index: 0;
  border-radius: 4px;
}

.timeline-item:hover .timeline-header::before {
  background: #fb923c;
}

/* Customize content. */
.timeline-content {
  padding: 0.5em;
  margin: 0.25rem;
  border-radius: 8px;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  transition: box-shadow 0.5s;
}

.timeline-item:hover .timeline-content {
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  transition: box-shadow 0.5s;
}
</style>
