<template>
  <div class="timeline">
    <slot/>
  </div>
</template>

<style scoped>
.timeline {
  position: relative;
  padding-left: 16px;
  margin-top: 0px;
  --timeline-width: 4px;
}

.timeline::before {
  position: absolute;
  content: "";
  background: #CCCCCC;
  width: var(--timeline-width);
  left: 0;
  right: 0;
  bottom: 0;
  top: 0.5rem;
  z-index: 0;
  border-radius: 4px;
}
</style>
